# Assignment II
* Leoni Mota Loris

* At first, Load the data.

In [2]:
import pandas as pd
import numpy as np

In [3]:
from collections import namedtuple

Atom = namedtuple('Atom', ['name', 'element', 'aminoacid', 'x', 'y', 'z', 'residue_seq_number'])

Atom.parse_name = lambda string: string[12:16].strip()
Atom.parse_element = lambda string: string[12] if len(string.strip()) < 78 \
                     else string[76:78].strip()
Atom.parse_aminoacid = lambda string: string[17:20].strip()
Atom.parse_x = lambda string: float(string[30:38].strip())
Atom.parse_y = lambda string: float(string[38:46].strip())
Atom.parse_z = lambda string: float(string[46:54].strip())
Atom.parse_residue_seq_number = lambda string: int(string[23:30].strip())

Atom.parse = lambda string: Atom(
    Atom.parse_name(string), Atom.parse_element(string), Atom.parse_aminoacid(string),
    Atom.parse_y(string), Atom.parse_x(string), Atom.parse_z(string), Atom.parse_residue_seq_number(string))

In [4]:
def read_molecule(path):
    atoms = []
    with open(path, 'r') as f:
        for line in f:
            if line.startswith('ATOM'):
                try:
                    atoms.append(Atom.parse(line))
                except Exception as e:
                    print(e)
    return pd.DataFrame(atoms)

In [28]:
crambin = read_molecule('assets/1crn.pdb')
crambin[:10]

  name element aminoacid       x       y      z  residue_seq_number
0    N       N       THR  14.099  17.047  3.625                   1
1   CA       C       THR  12.784  16.967  4.338                   1
2    C       C       THR  12.755  15.685  5.133                   1
3    O       O       THR  13.825  15.268  5.594                   1
4   CB       C       THR  12.703  18.170  5.337                   1
5  OG1       O       THR  12.829  19.334  4.463                   1
6  CG2       C       THR  11.546  18.150  6.304                   1
7    N       N       THR  11.555  15.115  5.265                   2
8   CA       C       THR  11.469  13.856  6.066                   2
9    C       C       THR  10.785  14.164  7.379                   2

In [ ]:
nucleophilic addition elimination 

resonance delocalization

## Question 1

### a)

* I) First we need to map the sequence of characters as in:

**TTCCPSIVARSNFNVCRLPGTPEAICATYTGCIIIPGATTCPGDYAN**
to a sequence of amino acids 

* II) And then, infer the position of each atom of the amino acid from a standard reference ($\alpha$ carbon) 


* III) Infer the position of multiple amino acids based on the peptide bond.

#### I) map the sequence of characters

In [29]:
def map_to_aminoacids(sequence):
    aminoacid_mapping = {'T': 'THR', 'C': 'CYS', 'P': 'PRO', 'S': 'SER', 'I': 'ILE',
                         'V': 'VAL', 'A': 'ALA', 'R': 'ARG', 'N': 'ASN', 'F': 'PHE',
                         'L': 'LEU', 'G': 'GLY', 'E': 'GLU', 'D': 'ASP', 'Y': 'TYR'}
    
    return list(map(lambda char: aminoacid_mapping[char], sequence))

In [30]:
aminoacid_sequence = 'TTCCPSIVARSNFNVCRLPGTPEAICATYTGCIIIPGATTCPGDYAN'

In [33]:
aminoacids_names = map_to_aminoacids(aminoacid_sequence)

#### II) infer the position of each atom of the amino acid. For this part, it is not well defined on how to infer the positions.


* We could map this sequence to known sequences of the PDB and hope it is a known protein. This is called 
**Homology Modelling** (**SWISS-MODEL** is an example).


* *Or*, we could predict the protein structure using an any number of softwares such as **I-TASSER (Iterative Threading ASSEmbly Refinement)**


We're are going to use both and compare the results.

I-TASSER:
![assets/TASSER.png](assets/TASSER.png)

* But, if we're not using something already pre-defined, we should get the pdb file for each of those amino acids and infer the position of each amino acid by the peptide bond.

*Obs.:* PDB's for each amino acid were downloaded here:
https://www.nyu.edu/pages/mathmol/library/life/life1.html

In [48]:
aminoacids_df = list(map(lambda aminoacid_name: read_molecule('assets/' + aminoacid_name + '.pdb'), aminoacids_names))

In [50]:
display(aminoacids_df[0])
display(aminoacids_df[3])

   name element aminoacid      x      y      z  residue_seq_number
0     N               THR  1.530 -0.596  0.605                   1
1    CA               THR  0.260  0.158  0.675                   1
2     C               THR  0.389  1.343 -0.248                   1
3     O               THR  0.184  2.490  0.118                   1
4     H               THR  1.615 -1.301  1.420                   1
5     O               THR  0.745  1.073 -1.501                   1
6     H               THR  1.613 -1.115 -0.340                   1
7     H               THR  0.114  0.534  1.702                   1
8     C               THR -0.965 -0.700  0.248                   1
9     O               THR -0.723 -1.206 -1.077                   1
10    C               THR -1.230 -1.873  1.231                   1
11    H               THR -1.853 -0.042  0.237                   1
12    H               THR -1.455 -1.709 -1.419                   1
13    H               THR -1.328 -1.500  2.262                   1
14    H               THR -2.164 -2.388  0.958                   1
15    H               THR -0.411 -2.606  1.191                   1
16    H               THR  0.798  1.882 -1.996                   1

   name element aminoacid      x      y      z  residue_seq_number
0     N               CYS -0.143  0.102  0.000                   1
1    CA               CYS -0.029  1.558  0.000                   1
2     C               CYS  1.419  1.986  0.000                   1
3     O               CYS  2.348  1.165  0.000                   1
4    CB               CYS -0.807  2.111 -1.210                   1
5    SG               CYS -0.856  3.916 -1.168                   1
6    1H       1       CYS  0.725 -0.540  0.000                   1
7    2H       2       CYS -1.101 -0.397  0.000                   1
8    HA               CYS -0.485  1.942  0.931                   1
9    HO               CYS  3.249  1.665  0.000                   1
10  1HB       1       CYS -1.849  1.743 -1.218                   1
11  2HB       2       CYS -0.357  1.778 -2.168                   1
12   HG               CYS  0.036  4.123 -2.134                   1
13   OC               CYS  1.655  3.396  0.000                   1

#### III) Infer the position of multiple amino acids based on the peptide bond.


* After the nucleotilic attack the resonance delocalization of electrons in the peptide bond forces the creation of a plane where the atoms will be located (amide plane).